body {
	margin: 0;
}

/* background */
.stripe {
	width: 14.25%;
	height: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#background {
	display: flex;
	height: 100vh;
}

/* menu */

button {
	width: 	20vw;
	height: 50px;

	padding: 5px;

	margin-right: 5vh;
	margin-bottom: 20px;

	background-color: #F0FFFF;
	border-radius: 10px;

	text-transform: uppercase;

	border: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
