button{
	border: none;
	border-radius: 20px;

    width: 22vw;
	height: 5vw;
	
	padding: 15px;
	
	margin-right: 54px; 
	margin-bottom: 20px; 
	
	background-color: #F0FFFF; 
    
    font-size: 1.6vw; 
    text-transform: uppercase;
    font-weight: bold;
}
/*button's position*/
#button-click{
	position: absolute;
    top: 65%;
    left: 180px;
}


/*position of the text*/
#icon img {
	position: absolute;
    top: 30px;
    left: 30px;	
    width: 50px;
    height: 50px;
 }
#officon img { 
	position: absolute;
    top: 30px;
    left: 30px;	
    width: 50px;
    height: 50px;
    opacity: 0; 
}

/*position of the text*/
#Main-Text{
	position: absolute;
    top: 5%;
    left: 445px;
    font-size: 7vw; 
    font-weight: bold;

}

#Subtittle{
	position: absolute;
	top: 40%; 
	left: 420px; 
	font-size:4vw;  
}
#Subtittle1{
	position: absolute;
	top: 47%; 
	left:365px; 
	font-size: 5vw;
	 
}
#button2 img {
	position: absolute;
    top: 30px;
    left: 30px;	
    width: 50px;
    height: 50px;
}
#button1 img {
	position: absolute;
    top: 30px;
    left: 30px;	
    width: 50px;
    height: 50px;
} 
