button{
	width: 200px;
	height: 50px;
	
	margin-right: 54px; 
	padding: 15px;
	margin-bottom: 20px; 
	background-color: #F0FFFF; 
    border-radius: 10px;
  }
#AS{
	position: absolute;
    top: 90%;
    left: 250px;
}
